#titleContainer h1, h2, h3, h4{
    margin: 0!important;
}

#titleContainer h3{
    margin: 0!important;
    padding-left: 1.55vw;
}

#hi {
    max-width: 7vw;
    padding-bottom: 12px;
}

h1 {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 767px) {
    #titleContainer h4{
        -webkit-writing-mode: horizontal-tb;
        writing-mode: horizontal-tb;
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    #hi {
        max-width: 100%;
        padding-bottom: 0;
    }
    
    #titleContainer h3{
        padding-left: 0;
        font-size: 3.5vw!important;
    }

    #titleContainer h1{
        font-size: 15vw!important;
    }
}